# Razorpay Keys
# This secret key MUST be kept private
RAZORPAY_KEY_SECRET=O8b4ZEpEQlAGlHfc39ZLMYhk
# This key ID is public and used by the frontend
RAZORPAY_KEY_ID=rzp_test_Sjmgef8ZEFIByg
VITE_RAZORPAY_KEY_ID=rzp_test_Sjmgef8ZEFIByg