# Gemini API Key (Optional in AI Studio, provided automatically)
GEMINI_API_KEY=AIzaSyAJNHDN-p4VffQPLUd-y9hsPuGXtRknNbw
# This secret key MUST be kept private
RAZORPAY_KEY_SECRET=O8b4ZEpEQlAGlHfc39ZLMYhk
# This key ID is public and used by the frontend
RAZORPAY_KEY_ID=rzp_test_Sjmgef8ZEFIByg
VITE_RAZORPAY_KEY_ID=rzp_test_Sjmgef8ZEFIByg